/* src/App.css */
.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

ul {
  list-style-type: none;
  padding: 0;
  align-items: flex-start;
}

li {
  margin: 10px 0;
  padding: 10px;
  background-color: #f4f4f4;
  border-radius: 5px;
}

h1 {
  color: #333;
}
